{% extends '::base.html.twig' %}

{% block body %}

    <h1>Category creation</h1>


        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-4">
                  {{ form_row(form.title, { 'label': 'Tile' }) }}
            </div>
        {{ form_rest(form) }}
        </div>

{% endblock %}
